body
h1 {
	font-family: Arial;
	font-size: 30px;
	color: #FABB00;
	text-align: left;
}

h2 {
	font-family: Arial;
	font-size: 18px;
	color: #999999;
	text-align: left;
}

h3 {
	font-family: Arial;
	font-size: 14px;
	color: #999999;
	text-align: left;
}

h3_0 {
	font-family: Arial;
	font-size: 14px;
	color: #000000;
	text-align: left;
}

h4 {
	font-family: Arial;
	font-size: 18px;
	color: #FABB00;
	text-align: left;
}

h5 {
	font-family: Arial;
	font-size: 30px;
	color: white;
	text-align: left;
}

body {
	font-family: "Arial";
	font-size: 12px;
}


table {
    border-collapse:collapse;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
}

table, th, tr {
    padding: 2px;
}
table, td {
    padding: 2px;
    border-top: 1px solid #9b9b9b;
}

#top-bar {
top: 100px;
background-color: #555;
width: 100%;
}
	